:root {
    --bg-color: #FFA733;
}

#headingDiv {
    /* border: 1px solid #000000; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--bg-color);
}

#dataSelectorDiv {
    /* border: 1px solid #000000; */
    position: fixed;
    left: 0;
    top: 52;
    width: 30%;
    background-color: var(--bg-color);
}

#dataDiv {
    position: fixed;
    left: 263;
    top: 52;
    background-color: green;
}

.thermNameCol {
    text-align: center;
}
